<section
  class="grid gap-8 md:grid-cols-2 md:items-center md:text-left bg-sage-green"
>
  <div class="flex flex-col justify-center p-3">
    <h1 class="text-3xl text-royal-yellow">
      Lorem ipsum dolor sit amet consectetur
    </h1>
    <p class="text-light-color">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quos
      consequuntur commodi impedit sint, blanditiis perferendis cupiditate
      libero deleniti quaerat, at doloribus, error distinctio explicabo iusto
      dolore animi vero? Dicta?
    </p>
  </div>
  <div class="flex flex-col justify-center p-3">
    <h1>Hello 2</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quos
      consequuntur commodi impedit sint, blanditiis perferendis cupiditate
      libero deleniti quaerat, at doloribus, error distinctio explicabo iusto
      dolore animi vero? Dicta?
    </p>
  </div>
</section>
