<section>
  <div class="container mt-6 mx-auto h-100vh">
    <div>
      <h1 class="text-2xl text-royal-yellow font-bold text-center underline">
        Why choose us ?
      </h1>
    </div>
    <div
      class="flex flex-col md:flex-row flex-wrap gap-8 mt-11 place-content-center"
    >
      <div class="text-center">
        <i class="fa-solid fa-comments-dollar text-5xl text-royal-yellow"></i>
        <p>
          Cut the middleman: More profits, faster <br />
          innovation, closer to your customers.
        </p>
      </div>
      <div class="text-center">
        <i class="fa-solid fa-bullhorn text-5xl text-royal-yellow"></i>
        <p>
          Own your story: Build a powerful brand <br />through personalization
          and direct communication.
        </p>
      </div>
      <div class="text-center">
        <i class="fa-solid fa-chart-line text-5xl text-royal-yellow"></i>
        <p>
          Know your customers better: Data & feedback for <br />quicker
          adaptation and better offerings.
        </p>
      </div>
      <div class="text-center">
        <i class="fa-solid fa-rocket text-5xl text-royal-yellow"></i>
        <p>
          Test & adapt like a pro: Be nimble and innovative<br />
          faster than the competition.
        </p>
      </div>
      <div class="text-center">
        <i class="fa-solid fa-globe text-5xl text-royal-yellow"></i>
        <p>
          Seamless, personal everywhere: Create the best<br />
          experience across all channels.
        </p>
      </div>
    </div>
  </div>
</section>
