<section>
  <div class="container mt-6 mx-auto h-100vh">
    <div>
      <h1 class="text-2xl text-royal-yellow font-bold text-center underline">
        ABOUT FOUNDER
      </h1>
      <p class="text-wrap p-4 mt-6 text-light-color">
        Darsheel Savla, a co-founder at PatilKaki, is a charismatic and creative
        powerhouse who infuses his passion for food, people, and brand building
        into everything he does. With an unshakable drive and an insatiable
        appetite for culinary exploration, he's determined to bring the
        legendary recipes of PatilKaki to the world. Also, a visionary leader
        with a passion for building D2C businesses, Darsheel is rolling out his
        new consultancy programme to help fellow founders and entrepreneurs
        navigate the challenges of going Direct-2-Consumer.
      </p>
    </div>

    <div class="flex flex-col md:flex-row items-center">
      <div class="w-3/4">
        <img src="assets/founder.png" alt="" srcset="" />
      </div>
      <div>
        <div class="bg-white bg-opacity-30 w-4/5 p-5 rounded-lg mt-4 mx-auto">
          <ul class="text-justify">
            <li class="mb-4">
              <i class="fa-solid fa-feather-pointed text-royal-yellow"></i> The
              founder has a background in e-commerce and marketing, having
              previously worked in digital marketing agencies and online retail
              startups.
            </li>
            <li class="mb-4">
              <i class="fa-solid fa-feather-pointed text-royal-yellow"></i>
              They are passionate about sustainable fashion and ethical
              consumerism, which led them to establish a D2C clothing brand
              focused on eco-friendly materials and fair labor practices.
            </li>
            <li class="mb-4">
              <i class="fa-solid fa-feather-pointed text-royal-yellow"></i>Known
              for their innovative ideas, the founder seeks to disrupt
              traditional retail models through direct-to-consumer approaches,
              leveraging social media marketing and influencer partnerships to
              reach their target audience.
            </li>
            <li class="mb-4">
              <i class="fa-solid fa-feather-pointed text-royal-yellow"></i>With
              a strong emphasis on customer satisfaction, the founder
              prioritizes delivering high-quality products made from organic
              materials, while also offering personalized shopping experiences
              and responsive customer support.
            </li>
            <li class="mb-4">
              <i class="fa-solid fa-feather-pointed text-royal-yellow"></i
              >Veritatis sunt quam eum sit! Consectetur labore molestiae dolorum
              dolorem voluptatibus
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
